body
{
	font-family:Arial, sans-serif;
	font-size: 16pt;
	background: #ffffff;
}
p
{
	line-height:24pt;
	color:#1abc9c;
}
#header
{
	color:#1abc9c;
}
#blockly
{
	border:1px solid #CCC;
	padding-left:0;
	height:500px;
}
#blockly_editor
{
	width:100%;
	float:left;
}
#description
{
	width:49%;
	float:right;
	margin-top:0;
}
#button_run
{
	margin-left:2%;
}

#GameBoardCanvas {
	border:1px solid #CCC;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

form .content { width:100%; }
form .content .blc { position:relative;float:left;width:5%; }
label { display:block; }
input[type="text"] { display:block; }


#containerBlockly {
    float:left;
    width:400px;
    padding:10px;
    background:#bfb;
}
#containerButton {
    float:right;
    width:100px;
    padding:10px;
    background:#ddf;
}
#containerCanvas {
    float:right;
    width:670px;
    padding:10px;
    background:#dff;
}
